/*.centered {
  position: absolute;
  top: -1%;
  left: 1%;
  transform: translate(-50%, -50%);
}*/

/*popup styling start*/
.popup-overlay, .popup-overlay-left {

	/*Hides pop-up when there is no "active" class*/
	visibility: hidden;
	position: absolute;
	background: #ffffff;
	border: 3px solid #666666;
	width: 50%;
	left: 25%;
	padding: 1% 1% 1% 0;
}

.popup-overlay.active, .popup-overlay-left.active {

	/*displays pop-up when "active" class is present*/
	visibility: visible;	/*text-align: center;*/
}

.popup-content, .popup-content-left {

	/*Hides pop-up content when there is no "active" class */
	visibility: hidden;
}

.popup-content.active, .popup-content-left.active {

	/*Shows pop-up content when "active" class is present */
	visibility: visible;
}

#ok_btn_Style {
	border: none;
	background-color: #009681;
	color: white;
	padding: 3%;
}

#ok_btn_Style-left {
	border: none;
	background-color: #009681;
	color: white;
	padding: 3%;
	cursor: not-allowed;
}

#more_info_style {
	color: #009681;
	float: right;
}

#more_info_style:hover {
	font-weight: bold;
}

#more_info_style-left {
	color: #009681;
	float: right;
	cursor: not-allowed;
}

#more_info_style-left:hover {
	font-weight: bold;
}

/*popup styling end*/

/*table style open*/
table.table.order-list tbody tr:first-child .close {
	display: none;
}

.table td, .table th {
	border: none;
}

/* table style close*/

/*DRAG DROP STYLE START*/

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	background: white;
	border: none;
}

.set_border {
	border-radius: 15%;
}

.bg-green {
	background: #009681;
}

.pt-6, .py-6 {
	padding-top: 40px;
}

.pb-6, .py-6 {

	/* padding-bottom: 5em !important; */
}

.ltr-spc {

	/*letter-spacing: 5px;*/
}

.gallery-rep li, .gallery li {
	z-index: 1000;
}

.gallery.custom-state-active

/*, .gallery-rep.custom-state-active*/
{
	background: #007b5e;
}

.gallery-rep li:not(.disable-sort) {
	text-align: center;
	width: 130px;	/* min-width: 130px; */
	float: left;
	padding-left: 0.4em;	/* display: inline-block; */
}

.dashed_image_li p, .door_image_li p {
	visibility: hidden;
}

.gallery-rep li.disable-sort {
	float: left;
	margin: 5% 0 5% 0;
	display: inline-block;
}

.gallery li {
	float: left;
	width: 32%;
	padding: 0.4em;
	margin: 0 0.4em 0.4em 0;
	text-align: center;
}

/*.gallery-rep li h5,*/
.gallery li h5 {
	margin: 0 0 0.4em;
	cursor: move;
}

.gallery-rep li img, .gallery li img {
	width: 78%;
	cursor: move;
}

/*vertical scroll*/

/* .omc {
overflow-y: auto;
overflow-x: hidden;
height: 455px;
} */

/*DRAG DROP STYLE END*/

/* Tabs style start*/
section {
	padding: 10px 0 0 10px;
}

section .section-title {
	text-align: center;
	color: #007b5e;
}

#tabs {
	background: #007b5e;
	color: #eee;
}

#tabs h6.section-title {
	color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #f3f3f3;
	background-color: transparent;
	border-color: transparent transparent #f3f3f3;	/* border-bottom: 4px solid !important; */

	/* font-size: 12px; */
}

#tabs .nav-tabs .nav-link {
	border: 1px solid transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	color: #eee;
	font-size: 11px;
	text-transform: uppercase;
}

/*Tabd2 Styling (Trash)*/
#nav-tab2 .nav-item.show .nav-link, .nav-tabs .nav-link.active, #nav-tab2 .nav-item {
	color: rgba(0, 0, 0, 0.5);
}

/*Tabs style close*/
.popup-overlay-left #ok_btn_Style-left {
	display: none;
}

.tooltip_templates {
	display: none;
}

.tooltip_content_container {
	width: 320px;
	position: relative;
}

.close_tooltip {
	position: absolute;
	top: 0;
	right: -5px;
	cursor: pointer;
}

.tooltip_content_container label {
	font-size: 12px;
}

.tooltip-check label {
	vertical-align: middle;
}

.tooltip-check {
	padding-bottom: 10px;
}

.form-check-label {
	cursor: pointer;
}

[disabled] {
	cursor: not-allowed;
}

table ul {
	padding: 0;
}

.tab-pane .gallery {
	max-height: 390px;
	height: 390px;
	overflow-y: auto;
	box-sizing: content-box;
}

table td, table tr {
	display: flex;
}

li.door_image_li img {
	cursor: pointer !important;
}

li.dashed_image_li img {
	cursor: default !important;
}

.el-desc {
	font-size: 13px;
	margin: 0;
	margin-top: 20px;
}

.v-h {
	visibility: hidden;
}

.sequence_li {
	width: 60px !important;	/* min-width: 60px !important; */
}

.sequence_li img {
	width: 100% !important;
}

.table td {
	width: 760px;
}

.gallery-rep {
	overflow: auto;
}

.table .trash {
	overflow: initial;
	list-style: none;
}

.trash [data-title="SEQ"] img {
	cursor: pointer;
}

.delete-div {
	padding: 0;
	position: relative;
}

.delete-div > div {
	position: absolute;
	background: #ffffffbd;
	width: 100%;
	left: 0;
	height: 487px;
	text-align: center;
	z-index: -999;
}

.delete-div span {
	font-size: 64px;
	background: #4b4d4e;
	border-radius: 50%;
	padding: 0 24px;
	padding-bottom: 11px;
}

.delete-div span i {
	color: #fff;
}

.delete-div p {
	padding-top: 170px;
}

.delete-div strong {
	display: block;
	margin-top: 10px;
}

.hover-del {
	background-color: #f7070785 !important;
}

.hover-del span {
	background-color: #fff !important;
}

.hover-del i {

	/* color: #4b4d4e !important; */
	color: red !important;
}

.hover-del strong {
	color: #fff !important;
}

.all_elements {
	height: 450px;
	width: 100%;
}

ul.gallery li {
	border: 4px solid #00bfb3;
	border-radius: 11px;
}

ul.gallery li img {
	width: 70%;
}

.gallery li {
	background: #efefef;
}

/* .trash li {
border: 4px solid #00bfb3 !important;
    border-radius: 10px;
    padding: 10px 0px;
} */
.gallery li > p {
	margin-bottom: 5px;
}

#tabs_2 nav {
	background-color: #eee;
}

#nav-tabContent2 {
	border-bottom: 2px solid #eee;
	border-left: 2px solid #eee;
	border-right: 2px solid #eee;
}

#tabs_2 {
	padding-top: 0;
}

#nav-tabContent2 .omc.tab-pane.fade {
	height: 442px;
	overflow: auto;
	overflow-x: hidden;
}

#nav-tab2 a.nav-item.nav-link.active {
	border: 0 !important;
	border: 2px solid #eee !important;
	border-bottom: 0 !important;
	border-top: 2px solid #eeeeee !important;
	border-radius: 0;
	background: #fff;
	font-weight: bold;
}

#nav-tab2 .nav-item.nav-link:not(.active):hover {
	color: #000;
	font-weight: 600;
	background: #ddd;
	border-color: #ddd;
}

.button {
	display: inline-block;
	font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
	padding: 0.8em 1.4em;
	padding-right: 4.7em;
	background: #009ED8;
	border: none;
	color: white;
	transition: 0.2s;
}

.button:before, .button:after {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding-top: inherit;
	padding-bottom: inherit;
	width: 2.8em;
	content: "\00a0";
	font-family: 'FontAwesome', sans-serif;
	font-size: 1.2em;
	text-align: center;
	transition: 0.2s;
	transform-origin: 50% 60%;
}

.button:before {
	background: rgba(0, 0, 0, 0.1);
}

.button:hover {
	background: #0079a5;
}

.button:active, .button:focus {
	background: #002e3f;
	outline: none;
}

.button {
	min-width: 15em;
}

.arrow {
	background: #3b6378;
}

.arrow:hover {

	/* background: #3b6378; */
	background: #37465d;
	cursor: pointer;
}

.arrow:after {
	content: "\f055";
}

.arrow:hover:after {
	-webkit-animation: bounceright 0.3s alternate ease infinite;
	animation: bounceright 0.3s alternate ease infinite;
}

.close {
	position: relative;
	top: -30px;
}

.tooltipster-base {
	max-height: 370px !important;
}

.all_elements .nav-tabs {
	border: 0;
	padding-top: 12px;
}

#tabs .nav-tabs .nav-link {
	background: #37465d;
	border-radius: 0;
	padding: 7px 0;
}

#tabs .nav-tabs .nav-link:hover {
	box-shadow: 0px 0px 9px 1px #222;
	z-index: 10000;
}

#tabs .nav-link.active {
	box-shadow: 0px 0px 9px 1px #222;
	z-index: 1;
}

#tabs .nav-link:last-of-type {
	margin-right: 10px;
}

.logout-Btn {
    background-color: #212529;
    color: #fff;
    border-radius: 5px;
    padding: 3px 8px;
}

.logoutbtn {
	float: right;
}

.page_title {
    background-color: #ddd;
    margin: 0;
}
.container-fluid.h-100.py-6 {
	padding-top: 2em !important;
	padding-bottom: 1em !important;
}

#main > .container {
	padding: 0;
    max-width: 100%;
    margin: 0;
}

.logoutBtn{
	background-color: #233b37;
    border-radius: 3px;
    color: #fff;
    padding: 4px 27px;
    float: right;
}
.logoutBtn:hover {
	text-decoration: none;
}

.section-title:after {
    background: none;
}



.dashed_image_li .dashed-div {
	border: 3px dashed #d4d3d3;
    background: #f6f6f6;
    color: #a6aaa0;
    font-size: 16px;
    text-align: left;
    padding: 16px 10px 20px 10px;
    margin: 0 16px;
    min-height: 85px;
    max-height: 85px;
	overflow: hidden;
}

.add_sequence {
	min-height: 127px;
	max-height: 127px;
	overflow: hidden;
}

.sequence_li img + strong {
	display: none;
}

#save_data {
	display: none;
}


